#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --all

override_dh_auto_install:
	# Install daemon
	install -D -m 755 target/release/lapsphere-daemon debian/lapsphere/usr/bin/lapsphere-daemon
	
	# Install GUI
	install -D -m 755 target/release/lapsphere debian/lapsphere/usr/bin/lapsphere
	
	# Install DBus policy and activation service
	install -D -m 644 debian/io.lapsphere.Control.conf debian/lapsphere/usr/share/dbus-1/system.d/io.lapsphere.Control.conf
	install -D -m 644 data/io.lapsphere.Control.service debian/lapsphere/usr/share/dbus-1/system-services/io.lapsphere.Control.service
	
	# Install systemd unit (supervision + resource caps for the daemon)
	install -D -m 644 data/lapsphere-daemon.service debian/lapsphere/usr/lib/systemd/system/lapsphere-daemon.service
	
	# Install desktop file
	install -D -m 644 debian/lapsphere.desktop debian/lapsphere/usr/share/applications/io.lapsphere.LapSphere.desktop
	
	# Install autostart file
	install -D -m 644 debian/lapsphere.desktop debian/lapsphere/etc/xdg/autostart/io.lapsphere.LapSphere.desktop
	sed -i 's/Exec=lapsphere/Exec=lapsphere --tray/' debian/lapsphere/etc/xdg/autostart/io.lapsphere.LapSphere.desktop

	# Install icon
	install -D -m 644 data/icon.svg debian/lapsphere/usr/share/icons/hicolor/scalable/apps/lapsphere.svg

override_dh_auto_clean:
	cargo clean || true

override_dh_auto_test:
	# Skip tests for now
